<h1>Editing algorithm</h1>

<%= render "form", algorithm: @algorithm %>

<br>

<div>
  <%= link_to "Show this algorithm", @algorithm %> |
  <%= link_to "Back to algorithms", algorithms_path %>
</div>
