<h1>Editing difficulty</h1>

<%= render "form", difficulty: @difficulty %>

<br>

<div>
  <%= link_to "Show this difficulty", @difficulty %> |
  <%= link_to "Back to difficulties", difficulties_path %>
</div>
